
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container gallery-wrapper ">
    <h2 class="section-title text-center"><i class="fa fa-camera"></i>&nbsp;&nbsp;Image Gallery</h2>
    <div class="details text-center">
        <h3>Me</h3>
        <div data-featherlight-gallery data-featherlight-filter="a">
            <a href="@Url.Content("~/Content/images/matt1.png")"><img src="@Url.Content("~/Content/images/matt1.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/matt2.png")"><img src="@Url.Content("~/Content/images/matt2.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/matt3.png")"><img src="@Url.Content("~/Content/images/matt3.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/matt4.png")"><img src="@Url.Content("~/Content/images/matt4.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/matt5.png")"><img src="@Url.Content("~/Content/images/matt5.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/matt6.png")"><img src="@Url.Content("~/Content/images/matt6.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/matt7.png")"><img src="@Url.Content("~/Content/images/matt7.thumb.png")" /></a>
        </div>
    </div>
    <div class="details text-center">
        <h3>My Trucks</h3>
        <div data-featherlight-gallery data-featherlight-filter="a">
            <a href="@Url.Content("~/Content/images/truck1.png")"><img src="@Url.Content("~/Content/images/truck1.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/truck2.png")"><img src="@Url.Content("~/Content/images/truck2.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/truck3.png")"><img src="@Url.Content("~/Content/images/truck3.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/truck4.png")"><img src="@Url.Content("~/Content/images/truck4.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/truck6.png")"><img src="@Url.Content("~/Content/images/truck6.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/truck7.png")"><img src="@Url.Content("~/Content/images/truck7.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/truck8.png")"><img src="@Url.Content("~/Content/images/truck8.thumb.png")" /></a>
        </div>
    </div>
    <div class="details text-center">
        <h3>My Cats</h3>
        <div data-featherlight-gallery data-featherlight-filter="a">
            <a href="@Url.Content("~/Content/images/cat1.png")"><img src="@Url.Content("~/Content/images/cat1.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/cat2.png")"><img src="@Url.Content("~/Content/images/cat2.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/cat3.png")"><img src="@Url.Content("~/Content/images/cat3.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/cat4.png")"><img src="@Url.Content("~/Content/images/cat4.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/cat5.png")"><img src="@Url.Content("~/Content/images/cat5.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/cat6.png")"><img src="@Url.Content("~/Content/images/cat6.thumb.png")" /></a>
            <a href="@Url.Content("~/Content/images/cat7.png")"><img src="@Url.Content("~/Content/images/cat7.thumb.png")" /></a>
        </div>
    </div>
</div>

<footer>
    <h5>Image gallery created using <a href="https://noelboss.github.io/featherlight/" target="_blank" rel="noopener">Featherlight.js</a></h5>
</footer>



