
@{
    ViewBag.Title = "Matt Callahan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/styles-home")
@Scripts.Render("~/bundles/scripts-home")

<div class="container-fluid">
    <div class="row" style="background: #4285F4;">
        @*<!-- left column (blue) -->*@
        <div class="col-md-4 no-padding sidebar-col">
            <div class="sidebar-wrapper">
                @*<!-- profile pic  -->*@
                <div class="profile-container">
                    <a href="@Url.Content("~/Content/images/matt8.png")" data-featherlight="image">
                        <img class="profile" src="@Url.Content("~/Content/images/me.png")" alt="Me" />
                    </a>
                    <h1 class="name">Matthew Callahan</h1>
                    <h3 class="tagline">Software Developer in Phoenix, AZ</h3>
                </div>
                @*<!-- contact  -->*@
                <div class="contact-container container-block">
                    <ul class="list-unstyled contact-list condensed">
                        <li>
                            <span class="display-wide">
                                <i class="fas fa-envelope"></i>&nbsp;&nbsp;<a href="mailto: matthew.callahan@outlook.com">matthew.callahan@outlook.com</a>
                            </span>
                            <span class="display-narrow text-center">
                                <i class="fas fa-envelope"></i>&nbsp;&nbsp;<a href="mailto: matthew.callahan@outlook.com">Email</a>
                            </span>

                        </li>                        
                        <li>
                            <span class="display-wide">
                                <i class="fab fa-linkedin"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/mfcallahan1/" target="_blank" rel="noopener">linkedin.com/in/mfcallahan1</a>
                            </span>
                            <span class="display-narrow text-center">
                                <i class="fab fa-linkedin"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/mfcallahan1/" target="_blank" rel="noopener">LinkedIn</a>
                            </span>
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="fab fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/mfcallahan/" target="_blank" rel="noopener">github.com/mfcallahan</a>
                            </span>
                            <span class="display-narrow text-center">
                                <i class="fab fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/mfcallahan/" target="_blank" rel="noopener">GitHub</a>
                            </span>
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="fas fa-globe"></i>&nbsp;&nbsp;<a href="https://geonet.esri.com/people/c_sharp_dotnet" target="_blank" rel="noopener">geonet.esri.com/people/c_sharp_dotnet</a>
                            </span>
                            <span class="display-narrow text-center">
                                <i class="fas fa-globe"></i>&nbsp;&nbsp;<a href="https://geonet.esri.com/people/c_sharp_dotnet" target="_blank" rel="noopener">Esri GeoNet</a>
                            </span>
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="fab fa-wordpress-simple"></i>&nbsp;&nbsp;<a href="https://seesharpdotnet.wordpress.com/" target="_blank" rel="noopener">seesharpdotnet.wordpress.com</a>
                            </span>
                            <span class="display-narrow text-center">
                                <i class="fab fa-wordpress-simple"></i>&nbsp;&nbsp;<a href="https://seesharpdotnet.wordpress.com/" target="_blank" rel="noopener">Blog</a>
                            </span>
                        </li>
                        <li>
                            <i class="fas fa-broadcast-tower" aria-hidden="true"></i>&nbsp;&nbsp;<a href="@Url.Action("Radio", "Home")">mfcallahan.com/Radio</a>
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="far fa-file"></i>&nbsp;&nbsp;<a href="@Url.Content("~/Content/docs/Matthew_Callahan_resume.pdf")" target="_blank" rel="noopener">Matthew Callahan Resume</a>
                            </span>
                            <span class="display-narrow text-center">
                                <i class="far fa-file"></i>&nbsp;&nbsp;<a href="@Url.Content("~/Content/docs/Matthew_Callahan_resume.pdf")" target="_blank" rel="noopener">Resume</a>
                            </span>
                        </li>
                    </ul>
                </div>
                @*<!-- education  -->*@
                <div class="education-container container-block">
                    <h2 class="container-block-title">Education</h2>
                    <div class="container-block-about">
                        <div class="row vertical-align text-center">
                            <div class="col-sm-3 display-wide">
                                <a href="https://wisc.edu/" target="_blank" rel="noopener">
                                    <img class="img-responsive" src="@Url.Content("~/Content/images/uw.png")" alt="" />
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <h4 class="moreinfo"><a href="https://wisc.edu/" target="_blank" rel="noopener">University of Wisconsin-Madison</a></h4>
                                <h5 class="moreinfo"><a href="https://geography.wisc.edu/" target="_blank" rel="noopener">BS Geography/GIS</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                @*<!-- certifications  -->*@
                <div class="education-container container-block">
                    <h2 class="container-block-title">Certifications & Licenses</h2>
                    <div class="container-block-about">
                        <div class="row vertical-align text-center">
                            <div class="col-sm-5 display-wide">
                                <a href="https://www.youracclaim.com/badges/637f3b5b-ff54-4815-901a-34081bf83e79/" target="_blank" rel="noopener">
                                    <img class="img-responsive" src="@Url.Content("~/Content/images/mta.png")" alt="" />
                                </a>
                            </div>
                            <div class="col-sm-7">
                                <h4 class="moreinfo">
                                    <a href="https://www.microsoft.com/en-us/learning/mta-developer-certification.aspx" target="_blank" rel="noopener">
                                        Microsoft Technology Associate: Developer
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="row vertical-align text-center">
                            <div class="col-sm-5 display-wide">
                                <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3987237" target="_blank" rel="noopener">
                                    <img class="img-responsive" src="@Url.Content("~/Content/images/fcc.png")" alt="" />
                                </a>
                            </div>
                            <div class="col-sm-7">
                                <h4 class="moreinfo">
                                    <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3987237" target="_blank" rel="noopener">
                                        Amateur Radio License: Technician Class
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                @*<!-- blog  -->*@
                <div class="education-container container-block">
                    <h2 class="container-block-title">Recent Blog Posts</h2>
                    <ul class="list-unstyled contact-list condensed">
                        <li>
                            <h5><a href="https://seesharpdotnet.wordpress.com/2018/10/17/a-really-simple-c-async-example/" target="_blank" rel="noopener">A really simple C# async example</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://seesharpdotnet.wordpress.com/2018/08/25/refurbished-radio-shack-pro-2021/" target="_blank" rel="noopener">Refurbished Radio Shack Pro-2021</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://seesharpdotnet.wordpress.com/2018/07/29/the-history-behind-462-675-mhz-and-the-travel-tone/" target="_blank" rel="noopener">The history behind 462.675 MHz and the travel tone</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://seesharpdotnet.wordpress.com/2018/07/01/k7mfc-mobile-shack-2013-f-150-lariat-4x4/" target="_blank" rel="noopener">K7MFC mobile shack: 2013 F-150 Lariat 4×4</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://seesharpdotnet.wordpress.com/2018/07/15/k7mfc-field-report-four-peaks-az/" target="_blank" rel="noopener">K7MFC Field Report: Four Peaks, AZ</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://seesharpdotnet.wordpress.com/2018/02/22/cool-windows-backgrounds/" target="_blank" rel="noopener">Cool Microsoft Backgrounds</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://seesharpdotnet.wordpress.com/2017/11/14/btech-gmrs-v1-review/" target="_blank" rel="noopener">BTECH GMRS-V1 Review</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://seesharpdotnet.wordpress.com/2017/08/08/which-programming-language-is-used-in-the-computer-of-a-car/" target="_blank" rel="noopener">Which programming language is used in the computer of a car?</a></h5>
                        </li>
                    </ul>
                </div>
                @*<!-- dev tools  -->*@
                <div class="education-container container-block">
                    <h2 class="container-block-title">My Favorite Dev Tools</h2>
                    <ul class="list-unstyled contact-list condensed">
                        <li>
                            <h5><a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" rel="noopener">C#</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://www.python.org/doc/essays/blurb/" target="_blank" rel="noopener">Python</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://www.visualstudio.com/" target="_blank" rel="noopener">Visual Studio</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://code.visualstudio.com/" target="_blank" rel="noopener">Visual Studio Code</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://www.gitkraken.com/" target="_blank" rel="noopener">GitKracken</a></h5>
                        </li>
                        <li>
                            <h5><a href="https://www.getpostman.com/" target="_blank" rel="noopener">Postman</a></h5>
                        </li>
                        <li>
                            <h5><a href="http://winmerge.org/" target="_blank" rel="noopener">WinMerge</a></h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @*<!-- right column (gray)  -->*@
        <div class="col-md-8 no-padding main-col">
            <div class="main-wrapper">
                @*<!-- about  -->*@
                <section class="section summary-section">
                    <h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
                    <div class="summary">
                        <p>
                            Hi, I’m Matt Callahan and I am a software developer in Phoenix, Arizona.  Computers have been my hobby since
                            my dad brought home our first family computer 30 years ago - a  286 PC running MS-DOS. I
                            found <a href="@Url.Content("~/Content/images/qbasic.png")" data-featherlight="image">QBasic</a> and began teaching myself
                            how to program - without Google or StackOverflow! After receiving a <a href="@Url.Content("~/Content/images/ti83.png")" data-featherlight="image">TI-83</a>
                            graphing calculator for algebra class in 6th grade, I quickly began making games and homework cheat programs with
                            <a href="https://en.wikipedia.org/wiki/TI-BASIC" target="_blank" rel="noopener">TI-BASIC</a> to share with friends.
                            My interest in programming extended through college, where my Geographic Information Systems major introduced me
                            to Java and Flash/ActionScript.
                        </p>
                        <p>
                            If I'm not at my keyboard, you'll find me enjoying the Arizona
                            outdoors - exploring the scenic back roads, bicycling, fishing, camping, swimming, and skiing (yes, there's
                            skiing in <a href="https://www.arizonasnowbowl.com/" target="_blank" rel="noopener">Arizona</a>).
                        </p>
                    </div>
                </section>
                @*<!-- dev  -->*@
                <section class="section experiences-section">
                    <h2 class="section-title"><i class="fa fa-code"></i>Software Development</h2>
                    <div class="item">
                        <div class="details">
                            <p>
                                <span class="display-wide">
                                    <a href="https://www.gitkraken.com/" target="_blank" rel="noopener">
                                        <img class="img-responsive" src="@Url.Content("~/Content/images/git-banner.png")" alt="" />
                                    </a>
                                </span>
                            </p>
                            <p>
                                My main area of interest in programming is desktop and web development using the Microsoft
                                <a href="https://docs.microsoft.com/en-us/dotnet/framework/get-started/overview" target="_blank" rel="noopener">.NET framework</a>.
                                C# is my tool of choice when I need to develop a custom solution.  It is a powerful
                                language with a robust base class library and awesome features like LINQ, garbage collection, and asynchronous
                                programming.  But sometimes I just don't need the overhead of the massive .NET framework, and
                                <a href="https://www.python.org/doc/essays/blurb/" target="_blank" rel="noopener">Python</a> is my
                                second tool of choice. Python is perfect for automating tedious or repetitive tasks, or processing large batches
                                of data.  Python is also what I strongly recommend as a first lanaguge for programming beginners.
                            </p>
                            <p>
                                I am currently a GIS Developer at Republic Services in Scottsdale, Arizona.
                            </p>
                        </div>
                    </div>
                </section>
                @*<!-- radio  -->*@
                <section class="section experiences-section">
                    <h2 class="section-title"><i class="fa fa-broadcast-tower" aria-hidden="true"></i>Radio</h2>
                    <div class="item">
                        <div class="details">
                            <p>
                                In addition to computers and programming, my other nerdy hobby is radio.  I am a licensed GMRS radio opearator
                                (call sign <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3959322" target="_blank" rel="noopener">WRAA720</a>)
                                and a licensed amateur radio operator (call sign <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3987237" target="_blank" rel="noopener">K7MFC</a>).
                                I am also a <a href="https://www.azgmrs.org/leadership-team.php" target="_blank" rel="noopener">board member</a> at Arizona GMRS Repeater Club.
                                Check out my <a href="@Url.Action("Radio", "Home")" target="_blank" rel="noopener">radio homepage here</a>.
                            </p>
                        </div>
                    </div>
                </section>
                @*<!-- projects  -->*@
                <section class="section projects-section">
                    <h2 class="section-title"><i class="fa fa-code-branch"></i>Projects</h2>
                    <div class="intro">
                        <p>
                            Here are some sample projects that demonstrate the types of software development I enjoy.  View all my
                            public code repositories <a href="https://github.com/mfcallahan?tab=repositories" target="_blank" rel="noopener">here</a>.
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="https://github.com/mfcallahan/Homepage" target="_blank" rel="noopener">mfcallahan.com</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">
                                This website is a light weight ASP.NET MVC application, and is deployed as Microsoft Azure App Service.
                            </span>
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="@Url.Content("http://mfcallahan-dev.com/api")" target="_blank" rel="noopener">mfcallahan-dev.com API</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">
                                This is a demo HTTP service created with ASP.NET Web API 2. Click
                                <a href="@Url.Content("http://mfcallahan-dev.com/api")" target="_blank" rel="noopener">here</a> for the API documentation.
                                The source code can be viewed <a href="https://github.com/mfcallahan/mfcallahan-dev" target="_blank" rel="noopener">here.</a>
                            </span>
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <span class="project-tagline">
                                Example HTTP GET request: <a href="@Url.Content("http://mfcallahan-dev.com/api/Hello")" target="_blank" rel="noopener">mfcallahan-dev.com/api/Hello</a>
                            </span>
                        </p>
                        <div class="display-wide">
                            <p>
<pre><code class="javascript">$.get("http://mfcallahan-dev.com/api/Hello", function (data) {
    console.log(data);
});

// API response
{
    "Status": "200",
    "Message": "Hello. The API at mfcallahan-dev.com is responding.",
    "Methods": [
        "/api/About",
        "/api/Hello",
        "/api/Geocode?address={}&city={}&stateProv={}&postalCode={}&country={}",
        "/api/GetDelayedResponse?waitSeconds={}",
        "/api/IpInfo?ip={}",
        "/api/RandomString?length={}&useNums={}"
    ]
}
</code></pre>
                            </p>
                        </div>
                    </div>
                    @*<div class="item">
                <p>
                    <span class="project-title"><a href="@Url.Action("Camping", "Home")" target="_blank" rel="noopener">Arizona Camping Map</a>&nbsp;&nbsp;</span>
                    <span class="project-tagline">
                        An interactive web map created with ArcGIS Online that shows some of my favortie places to camp and visit around Arizona.
                    </span>
                </p>
            </div>*@
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="https://github.com/mfcallahan/MB_Utils" target="_blank" rel="noopener">MB Utils</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">
                                A MapBasic module and .NET library that extends MapInfo <a href="https://en.wikipedia.org/wiki/MapBasic" target="_blank" rel="noopener">MBX</a>
                                programming functionality by exposing .NET and Win32 API calls as easy to use MapBasic functions and subs.  This
                                project was the first library I ever wrote and was a great learning experience in how to document, release,
                                and support an open source software project, albeit on a small scale.  I'm sharing this here to show how my career
                                and code quality has progressed.
                            </span>
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <span class="project-title"><a href="https://github.com/mfcallahan/adhoc" target="_blank" rel="noopener">Miscellaneous Code</a>&nbsp;&nbsp;</span>
                            <span class="project-tagline">
                                This repository houses all my miscellaneous code: one-off scripts, code snippets I refer
                                back to once in a while, and mini projects I started/completed/am currently working on.  Feel free to
                                browse, but code in this repo is not guaranteed to be stable (or good).
                            </span>
                        </p>
                    </div>
                </section>
                @*<!-- footer  -->*@
                <div class="text-center" style="margin-top: 80px;">
                    <a href="http://www.notepad.org/" target="_blank" rel="noopener">
                        <img src="@Url.Content("~/Content/images/notepad.png")" alt="" />
                    </a>
                </div>
            </div>          
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    $('pre code').each(function (i, block) {
        hljs.highlightBlock(block);
    });
});
</script>