@{
    ViewBag.Title = "AB9ZYX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/radio-styles")

<div class="container-fluid">
    <div class="row equal">
        <div class="col-md-4 no-padding sidebar-col">
            <div class="sidebar-wrapper-radio">
                <div class="profile-container">
                    <img class="profile" src="@Url.Content("~/Content/img/homer-radio.png")" alt="" />
                    <h1 class="name">AB9ZYX|WRAA720</h1>
                    <h3 class="tagline">Phoenix, AZ</h3>
                </div>
                <div class="contact-container container-block last-item">
                    <h2 class="container-block-title text-center">Contact</h2>
                    <ul class="list-unstyled contact-list condensed">
                        <li>
                            <span class="display-wide">
                                <i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.gmrs1900.net/blog/89-announcements/101-travel-tone-tuesday-begins" target="_blank" rel="noopener">462.550 MHz (141.3 Hz) Tuesdays, 8:00 AM</a>
                            </span>
                            <span class="display-narrow">
                                <i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.gmrs1900.net/blog/89-announcements/101-travel-tone-tuesday-begins" target="_blank" rel="noopener">462.550 Mhz (141.3 Hz)</a>
                            </span>
                        </li>
                        <li>
                            <span class="display-wide">
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto: matthew.callahan@outlook.com">matthew.callahan@outlook.com</a>
                            </span>
                            <span class="display-narrow">
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto: matthew.callahan@outlook.com">Email</a>
                            </span>

                        </li>   
                        <li>
                            <span class="display-wide">
                                <i class="fa fa-home"></i>&nbsp;&nbsp;<a href="@Url.Action("Index", "Home")" target="_blank" rel="noopener">mfcallahan.com homepage</a>
                            </span>
                            <span class="display-narrow">
                                <i class="fa fa-home"></i>&nbsp;&nbsp;<a href="@Url.Action("Index", "Home")" target="_blank" rel="noopener">mfcallahan.com</a>
                            </span>
                        </li>                        
                        <li>
                            <span class="display-wide">
                                <a href="https://www.radioreference.com/apps/user/call_sign_null" target="_blank" rel="noopener">radioreference.com - call_sign_null</a>
                            </span>
                            <span class="display-narrow">
                                <a href="https://www.radioreference.com/apps/user/call_sign_null" target="_blank" rel="noopener">RadioReference.com Profile</a>
                            </span>
                        </li>
                        <li>
                            <a href="https://www.mygmrs.com/users?username=mcallahan" target="_blank" rel="noopener">mygmrs.com - mcallahan</a>
                        </li>
                    </ul>
                    <h2 class="container-block-title text-center">Clubs</h2>
                    <div class="row vertical-align">
                        <div class="col-sm-3 display-wide">
                            <a href="https://www.gmrs1900.net/" target="_blank" rel="noopener">
                                <img class="img-responsive center-block" src="@Url.Content("~/Content/img/agrc-sm.png")" alt="" />
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4 class="moreinfo">
                                <a href="https://www.gmrs1900.net/" target="_blank" rel="noopener">Arizona GMRS Repeater Club</a>
                            </h4>
                        </div>
                    </div>                    
                    <h2 class="container-block-title text-center">Links</h2>
                    <ul class="list-unstyled contact-list condensed">
                        <li>
                            <span class="display-wide">
                                <a href="http://www.azrepeaters.net/" target="_blank" rel="noopener">Arizona Repeaters Directory</a>
                            </span>
                            <span class="display-narrow">
                                <a href="http://www.azrepeaters.net/" target="_blank" rel="noopener">AZ Repeaters Directory</a>
                            </span>
                        </li>
                        <li>
                            <a href="https://www.radioreference.com/apps/db/?stid=4" target="_blank" rel="noopener">RadioReference.com - AZ Database</a>
                        </li>
                        <li>
                            <span class="display-wide">
                                <a href="https://forums.radioreference.com/arizona-radio-discussion-forum/" target="_blank" rel="noopener">RadioReference.com - AZ Discussion Forum </a>
                            </span>
                            <span class="display-narrow">
                                <a href="https://forums.radioreference.com/arizona-radio-discussion-forum/" target="_blank" rel="noopener">RadioReference.com - AZ Forum</a>
                            </span>
                        </li>
                        <li>
                            <span class="display-wide">
                                <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/searchAdvanced.jsp" target="_blank" rel="noopener">FCC License/Call Sign Search</a>
                            </span>
                            <span class="display-narrow">
                                <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/searchAdvanced.jsp" target="_blank" rel="noopener">FCC Search</a>
                            </span>
                        </li>
                        <li>
                            <span class="display-wide">
                                <a href="http://www.miklor.com/" target="_blank" rel="noopener">miklor.com - Radio Information & Support Site</a>
                            </span>
                            <span class="display-narrow">
                                <a href="http://www.miklor.com/" target="_blank" rel="noopener">miklor.com</a>
                            </span>
                        </li>                        
                        <li>
                            <span class="display-wide">
                                <a href="https://www.scannermaster.com/" target="_blank" rel="noopener">ScannerMaster.com - The scanner experts!</a>
                            </span>
                            <span class="display-narrow">
                                <a href="https://www.scannermaster.com/" target="_blank" rel="noopener">ScannerMaster.com</a>
                            </span>                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8 no-padding main-col">
            <div class="main-wrapper">
                <div class="row text-center">
                    <h2>Matt Callahan Radio Homepage</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="summary">
                            <p>
                                Welcome to my radio homepage.  In addition to computers and programming, my other nerdy hobby is radio. I am a
                                licensed GMRS radio opearator (<a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=3959322" target="_blank" rel="noopener">WRAA720</a>) 
                                and a licesnsed amateur radio operator (AB9ZYX). When I was 16, I bought my first scanner from Radio 
                                Shack, <a href="@Url.Content("~/Content/img/pro71.png")" data-featherlight="image">a Pro-71</a>, and I've been listening 
                                ever since.
                            </p>
                            <p>
                                Radio is most useful to me when I'm camping and exploring the Arizona back country.  I monitor state
                                and US Forest Service comms during wildfire season, and I rely on VHF and UHF radios for off-road mobile
                                communications. I'm also a member of the <a href="https://www.gmrs1900.net/" target="_blank" rel="noopener">Arizona GMRS Repeater Club</a>.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <a href="https://www.mygmrs.com/view?id=1793" target="_blank" rel="noopener">
                            <img class="img-responsive center-block" src="@Url.Content("~/Content/img/scanner-homepage.png")" />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="main-title"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Maps</h2>
                        <div class="summary">
                            <ul class="list-unstyled contact-list condensed">
                                <li>
                                    <h5><a href="@Url.Action("GMRS", "Home")" target="_blank" rel="noopener">Arizona GMRS Repeater Map</a></h5>
                                </li>
                                <li>
                                    <h5><a href="https://www.gmrs1900.net/about-us/repeaters" target="_blank" rel="noopener">AGRC Repeater Map</a></h5>
                                </li>
                                <li>
                                    <h5><a href="https://www.mygmrs.com/map/" target="_blank" rel="noopener">mygmrs.com Repeater Map</a></h5>
                                </li>
                                <li>
                                    <h5><a href="http://www.nws.noaa.gov/nwr/Maps/PHP/AZ.php" target="_blank" rel="noopener">NOAA Weather Radio Coverage Map</a></h5>
                                </li>
                                <li>
                                    <h5><a href="http://new.w7ara.org/map/Arizona1.Aspx" target="_blank" rel="noopener">Arizona Repeater Association Map</a></h5>
                                </li>
                                <li>
                                    <h5><a href="http://hamwaves.com/map.us/en/index.html" target="_blank" rel="noopener">US Call Sign Areas & Zones</a></h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="main-title"><i class="fa fa-wordpress"></i>&nbsp;&nbsp;Blog</h2>
                        <div class="summary">
                            <ul class="list-unstyled contact-list condensed">
                                <li>
                                    <h5><a href="https://seesharpdotnet.wordpress.com/2017/12/02/motorola-cdm1250-install/" target="_blank" rel="noopener">Motorola CDM1250 Install</a></h5>
                                </li>
                                <li>
                                    <h5><a href="https://seesharpdotnet.wordpress.com/2017/11/30/worldwide-spectrums-allocation-poster/" target="_blank" rel="noopener">Worldwide Spectrums Allocation Poster</a></h5>
                                </li>
                                <li>
                                    <h5><a href="https://seesharpdotnet.wordpress.com/2017/11/14/btech-gmrs-v1-review/" target="_blank" rel="noopener">BTECH GMRS-V1 Review</a></h5>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="main-title text-center"><i class="fa fa-camera"></i>&nbsp;&nbsp;Shack Photos</h2>
                        <div class="text-center" data-featherlight-gallery data-featherlight-filter="a">
                            <a href="@Url.Content("~/Content/img/truck11.png")"><img src="@Url.Content("~/Content/img/truck11.thumb.png")" alt="The mobile shack: 2013 Ford F-150 3.5 EB 4x4 Lariat.  Photo taken near Knoll Lake, AZ" /></a>
                            <a href="@Url.Content("~/Content/img/shack1.png")"><img src="@Url.Content("~/Content/img/shack1.thumb.png")" alt="Inside my F-150: Motorola CDM1250 UHF (GMRS)."/></a>
                            <a href="@Url.Content("~/Content/img/shack2.png")"><img src="@Url.Content("~/Content/img/shack2.thumb.png")" alt="Some of my handhelds, a BTECH GMRS-V1 and a Uniden BC125AT."/></a>
                            @*<a href="@Url.Content("~/Content/img/shack3.png")"><img src="@Url.Content("~/Content/img/shack3.thumb.png")" alt="My old mobile shack: A 1999 GMC Sierra with a Uniden BC355N VHF/UHF scanner and a Sirius XM satellite Radio."/></a>*@
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $.featherlightGallery.prototype.afterContent = function () {
        var caption = this.$currentTarget.find('img').attr('alt');
        this.$instance.find('.caption').remove();
        $('<div class="caption">').text(caption).appendTo(this.$instance.find('.featherlight-content'));
    };
</script>